.h3 {
  font-family: Arial;
  color:#72A2D3;
  display: inline;
  vertical-align: middle;
  font-size:"18px";
}

.seperate {
  width:1774px;
  margin-bottom: 18px;
}

table {
  width: 104px;
  height: 13px;
  font-family: Verdana;
  font-size: 11px;
  margin-top: 10px;
  color: #222222;
  text-decoration: none solid rgb(34, 34, 34);
}

.btn {
  display: inline;
  vertical-align: middle;
  position: right;
}
